include /components/button/btn-default

mixin b-predictions({ className, id })
  section.b-predictions(class=className, id=id)
    -
      let predictionsCards = [
        {
          order: 1,
          title: "Какой дивизион победит?",
          subtitle: "Откроется 30 января",
          img: "./img/predictions/predictions-card.png",
          imgWidth: "275",
          imgHeight: "138",
          cssClass: "division",
          btnCssClass: "js-predictions-first-open"
        },
        {
          order: 2,
          title: "Кто забросит первую шайбу в&nbsp;финале ФОНБЕТ Матча звезд КХЛ 2025?",
          subtitle: "Откроется 30 января",
          img: "./img/predictions/predictions-puck.png",
          imgWidth: "302",
          imgHeight: "244",
          cssClass: "puck",
          btnCssClass: "js-predictions-second-open"
        },
        {
          order: 3,
          title: "Какой вратарь сделает больше сейвов?",
          subtitle: "Откроется 30 января",
          img: "./img/predictions/predictions-goalie.svg",
          imgWidth: "496",
          imgHeight: "233",
          cssClass: "goalie",
          btnCssClass: "js-predictions-third-open"
        },
        {
          order: 4,
          title: "Сколько пробьют буллитов?",
          subtitle: "Откроется 30 января",
          img: "./img/predictions/predictions-field.svg",
          imgWidth: "287",
          imgHeight: "186",
          cssClass: "penalty",
          btnCssClass: "js-predictions-fourth-open"
        },
        {
          order: 5,
          title: "Какой игрок станет самым результативным?",
          subtitle: "Откроется 30 января",
          img: "./img/predictions/predictions-equipment.svg",
          imgWidth: "244",
          imgHeight: "208",
          cssClass: "player",
          btnCssClass: "js-predictions-fifth-open"
        },
      ]
    .b-predictions__backside
      .b-predictions__bg
        img(class="mobile" src="./img/mountains.svg" width="375" height="350" alt="")
        img(class="desktop" src="./img/mountains-desktop.svg" width="1440" height="460" alt="")
    .b-predictions__content
      h2.title Прогнозы
      p.b-predictions__subtext Сделай 5&nbsp;прогнозов на&nbsp;ФОНБЕТ Матч Звезд КХЛ 2025. Выиграешь&nbsp;&mdash; получишь фрибет до&nbsp;50000&nbsp;₽!
      .b-predictions__list
        each it in predictionsCards
          .b-predictions__card(
            class="js-predictions-card"
            class=it.cssClass
            data-order=it.order
          )
            .b-predictions__card-circle
            img.b-predictions__card-img(
              src=it.img
              width=it.imgWidth
              height=it.imgHeight
              alt=""
            )
            .b-predictions__card-title !{it.title}
            .b-predictions__card-btn(
              class="js-predictions-card-open",
              hidden
            )
              +btn-default({
                text: "Играть",
                className: it.btnCssClass
              })
            .b-predictions__card-subtitle(
              class="js-predictions-card-done",
              hidden
            )
              //- +svg({ name: "lock", w: 10, h: 13 })
              span Прогноз сделан
