include /components/button/btn-default
include /components/button/btn-arrow

mixin b-stars({ className, id })
  -
    let train = [
      {
        order: 1,
        img: "/img/stars/skates.png",
        num: "Игра 1",
        name: "Начало пути",
        date: "Игра откроется 16 января.",
        btnCssClass: "js-game-first-open",
        state: 1
      },
      {
        order: 2,
        img: "/img/stars/equipment.png",
        num: "Игра 2",
        name: "Ты не видел мой экип?",
        date: "Игра откроется 18 января.",
        btnCssClass: "js-game-second-open",
        state: 1
      },
      {
        order: 3,
        img: "/img/stars/uniform.png",
        num: "Игра 3",
        name: "Шаришь за джерси?",
        date: "Игра откроется 20 января. ",
        state: 0
      },
      {
        order: 4,
        img: "/img/stars/cup.png",
        num: "Игра 4",
        name: "Испытание звезд",
        date: "Игра откроется 22 января. ",
        state: 0
      },
      {
        order: 5,
        img: "/img/stars/sticks.png",
        num: "Игра 5",
        name: "Отбей шайбу",
        date: "Игра откроется 24 января. ",
        state: 0 // 0 ЕЩЕ не открылась, 1 открыта, 2 пройдена
      },
    ]
  section.b-stars(class=className id=id)
    .b-stars__sky-desktop
      img(class="desktop" src="./img/sky-stars-desktop.svg" width="1313" height="216" alt="")
    h2.title.b-stars__title.title.js-game-stars-block Играй и&nbsp;получай звезды
    //- .b-stars__btn
      +btn-default({ text: "Правила", className: "js-modal-rules-show" })
    p.b-stars__text На пути тебя ждет пять испытаний, в&nbsp;которых ты сможешь заработать звезды, чтобы побороться за призы.
    .b-stars__slider.js-slider-stars
      .b-stars__sky-mobile
        img(class="mobile" src="./img/sky-stars-1.svg" width="327" height="165" alt="")
      .b-stars__nav
        +btn-arrow({ isPrev: true, className: "js-slider-stars-prev" })
        +btn-arrow({ className: "js-slider-stars-next" })
      .b-stars__wrp.swiper-wrapper
        .b-stars__first-card.swiper-slide
          img(src="./img/stars/train-nose-left.svg" width="680" height="223" alt="")
        each it in train
          article.b-stars__card.swiper-slide.js-game-card(data-order=it.order)
            img.b-stars__carriage(src="./img/stars/train-carriage.svg" width="390" height="223")
            .b-stars__prize
              +picture({ image: it.img, w: 401, h: 340 })
            .b-stars__info
              .b-stars__info-name=it.num
              .b-stars__info-title
                if it.state === 0
                  +svg({ name: "lock", w: 10, h: 13 })
                span=it.name
              .js-game-card-state(data-state="close" hidden=(it.state !== 0))
                .b-stars__info-date=it.date
                .b-stars__info-notif Не пропусти!
              .js-game-card-state(data-state="open" hidden=(it.state !== 1))
                button.b-stars__info-btn(class=it.btnCssClass) Играть
              .js-game-card-state(data-state="done" hidden=(it.state !== 2))
                .b-stars__info-done
                  +svg({ name: "arrow-check", w: 15, h: 11 })
                  | Игра пройдена
