mixin f-field({ placeholder, id, value, type, isDisabled, isRequired, isHidden, className })
  input.f-field(
    class=className
    id=id
    type=type || "text"
    name=id
    placeholder=placeholder
    value=value
    disabled=isDisabled
    autocomplete="off"
    required=isRequired
    hidden=isHidden
  )
