include /components/button/btn-close

mixin m-rules({ isShow, className })
  .overlay.js-modal-rules(class=isShow && "show" class=className)
    .m-rules
      .m-rules__close
        +btn-close({ className: "js-m-close" })
      //- button.m-rules__close.js-m-close
      .m-rules__backside
        .m-rules__bg
          +svg({ name: "mountains", w: 375, h: 350, className: "mobile" })
          +svg({ name: "mountains-desktop", w: 1440, h: 460, className: "desktop" })
      .m-rules__content
        .m-rules__markdown.markdown(
          data-alias='fasw25'
          data-alias-mob='fasw25'
          data-locale='ru'
        )
