include /components/button/btn-default

mixin g-first-bg({})
  .g-msg__mountans
    +svg({ name: "mountains", w: 375, h: 350, className: "mobile" })
    +svg({ name: "mountains-desktop", w: 1440, h: 460, className: "desktop" })
  .g-msg__stars
    img(class="mobile" src="./img/game/stars-msg.svg" width="190" height="90" alt="")
    img(class="desktop" src="./img/game/stars-msg-desktop.svg" width="214" height="176" alt="")
  .g-msg__person.js-msg-ambasador(data-person="ovechkin")
    img(class="mobile" src="./img/game/ovechkin@2x.webp" width="375" height="482" alt="")
    img(class="desktop" src="./img/game/ovechkin-desktop@2x.webp" width="565" height="535" alt="")
  .g-msg__person.js-msg-ambasador(data-person="medvedeva" hidden)
    img(class="mobile" src="./img/game/medvedeva@2x.webp" width="375" height="482" alt="")
    img(class="desktop" src="./img/game/medvedeva-desktop@2x.webp" width="565" height="535" alt="")
  .g-msg__person.js-msg-ambasador(data-person="korney" hidden)
    img(class="mobile" src="./img/game/korney@2x.webp" width="375" height="482" alt="")
    img(class="desktop" src="./img/game/korney-desktop@2x.webp" width="565" height="535" alt="")
  .g-msg__person.js-msg-ambasador(data-person="ed" hidden)
    img(class="mobile" src="./img/game/ed@2x.webp" width="375" height="482" alt="")
    img(class="desktop" src="./img/game/ed-desktop@2x.webp" width="565" height="535" alt="")
  .g-msg__person.js-msg-ambasador(data-person="akinfeev" hidden)
    img(class="mobile" src="./img/game/akinfeev@2x.webp" width="375" height="482" alt="")
    img(class="desktop" src="./img/game/akinfeev-desktop@2x.webp" width="565" height="535" alt="")

mixin g-first-msg({ isHidden, isShow, className })
  .g-msg(class=isShow && "show" class=className hidden=isHidden)
    .g-msg__backside
      +g-first-bg({})
    .g-msg__content
      .g-msg__wrp
        h2.g-msg__title Начало пути
        p.g-msg__text Ну&nbsp;что, ты&nbsp;выбрал, с&nbsp;кем отправишься на&nbsp;ФОНБЕТ Неделю Звезд Хоккея. Теперь пора выяснить, как хорошо ты&nbsp;знаешь своего попутчика!
        p.g-msg__text За&nbsp;каждый правильный ответ ты&nbsp;получишь 100&nbsp;звезд, время ограничено. В&nbsp;путь!
        .g-msg__btn
          +btn-default({ text: "Начать игру", className: "js-game-first-start" })
      p.g-msg__ribbon Транссиб&nbsp;&mdash; это не&nbsp;шутка: впереди долгая дорога и&nbsp;4&nbsp;станции. Хорошо, что вместе с&nbsp;тобой на&nbsp;ФОНБЕТ Неделю Звезд Хоккея в&nbsp;Новосибирск еду&nbsp;я!

mixin g-first-end({ isShow, className, isHidden })
  .g-msg(class=isShow && "show" class=className,  hidden=isHidden)
    .g-msg__backside
      +g-first-bg({})
    .g-msg__content
      .g-msg__wrp
        h2.g-msg__title.js-game-first-title(
          data-high="Ого, неплохо!"
          data-low="Класс, ты неплохо меня знаешь!"
          data-zero="Да ты меня совсем не знаешь!"
        )
        p.g-msg__text.js-game-first-text(
          data-high="Ты&nbsp;и&nbsp;правда меня знаешь. С&nbsp;таким попутчиком дорога пройдет незаметно!"
          data-low="Ты&nbsp;и&nbsp;правда меня знаешь. С&nbsp;таким попутчиком дорога пройдет незаметно!"
          data-zero="Ничего, в&nbsp;пути как раз познакомимся поближе!"
        )
        .g-msg__result
          .g-msg__result-text Результат: #[span.js-game-first-answer 0/5]
          .g-msg__result-text
            | Ты заработал:
            +svg({ name: "star", w: 22, h: 22 })
            | #[span.js-game-first-score 0] звезд
        .g-msg__btn
          +btn-default({ text: "На главную", className: 'js-game-first-close' })

mixin g-first-quiz({ isShow, className, isHidden })
  .g-quiz(class=isShow && "show" class=className,  hidden=isHidden)
    .g-quiz__content
      .g-quiz__top
        .g-quiz__step.js-game-quiz-step Вопрос 1/5
        .g-quiz__time.js-game-quiz-time 00:30
        button.g-quiz__btn-next-top.js-game-quiz-next(disabled)
          span Следующий вопрос
          .g-quiz__btn-next-top-icon
            +svg({ name: "quiz-arrow", w: 16, h: 16 })
      .g-quiz__wrp
        .g-quiz__question
          .g-quiz__question-text.js-game-quiz-question В&nbsp;каком возрастея впервые встала на&nbsp;лед?
          .g-quiz__question-img
            .g-quiz__question-stars
              img(class="mobile" src="./img/game/stars-quiz.svg" width="233" height="109" alt="")
              img(class="desktop" src="./img/game/stars-quiz-desktop.svg" width="233" height="133" alt="")
            .g-quiz__question-person.js-quiz-ambasador(data-person="ovechkin")
              img(class="mobile" src="./img/person/ovechkin-circle.webp" width="100" height="100" alt="")
            .g-quiz__question-person.js-quiz-ambasador(data-person="medvedeva" hidden)
              img(class="mobile" src="./img/person/medvedeva-circle.webp" width="100" height="100" alt="")
            .g-quiz__question-person.js-quiz-ambasador(data-person="korney" hidden)
              img(class="mobile" src="./img/person/korney-circle.webp" width="100" height="100" alt="")
            .g-quiz__question-person.js-quiz-ambasador(data-person="ed" hidden)
              img(class="mobile" src="./img/person/ed-circle.webp" width="100" height="100" alt="")
            .g-quiz__question-person.js-quiz-ambasador(data-person="akinfeev" hidden)
              img(class="mobile" src="./img/person/akinfeev-circle.webp" width="100" height="100" alt="")
          medvedeva-circle.webp
        .g-quiz__control
          .g-quiz__control-text Варианты ответа
          .g-quiz__list
            button.g-quiz__answer.js-game-quiz-answer
              .g-quiz__answer-num A
              .g-quiz__answer-text.js-game-quiz-answer-text 3 года
            button.g-quiz__answer.js-game-quiz-answer
              .g-quiz__answer-num B
              .g-quiz__answer-text.js-game-quiz-answer-text 4 года
            button.g-quiz__answer.js-game-quiz-answer
              .g-quiz__answer-num C
              .g-quiz__answer-text.js-game-quiz-answer-text 5 лет
            button.g-quiz__answer.js-game-quiz-answer
              .g-quiz__answer-num D
              .g-quiz__answer-text.js-game-quiz-answer-text 6 лет
          button.g-quiz__btn-next.js-game-quiz-next
            span Следующий вопрос
            .g-quiz__btn-next-icon
              +svg({ name: "quiz-arrow", w: 16, h: 16 })

mixin g-first({ isShow, className })
  .overlay.js-game-first-dialog(class=isShow && "show" class=className)
    .g-layout
      .g-layout__close
        +btn-close({ className: "js-game-first-close" })
      +g-first-msg({ isHidden: true, className: "js-game-first-msg" })
      +g-first-quiz({ isHidden: true, className: "js-game-first-quiz" })
      +g-first-end({ isHidden: true, className: "js-game-first-end" })
